.container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 32rem;
}
.title {
    font-size: var(--title);
    font-weight: bold;
    color: white;
}

/*------------Responsive------------------*/
@media (min-width: 576px) and (max-width: 767px) {
    .container {
        top: 41rem;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        top: 54rem;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        top: 54rem;
    }
}
@media (min-width: 1200px) {
    .container {
        top: 54rem;
    }
}
